body{
    background-color: rgb(218, 176, 123);
}
img{
    width: 24px;
    height: 24px;
    border-style: none;
    vertical-align: text-bottom;
    margin-right: 5px;
    box-sizing: border-box;

}
a{
    color: blue;
}
div{
    margin-bottom:10px ;
}
#parent{
    border-radius: 5px;
    margin: 0 5px;
    background-color: blanchedalmond;

}