*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url('https://media-cdn.t24.com.tr/media/library/2020/07/1594057123545-harvard.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.parent{
    display: flex;
    margin: 0;

}
div{
    margin: 20px 5px;
}
a{
    width: 200px;;
    background-color: rgb(29, 214, 106);
    text-align: center;
    font-size: 17px;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;

}
a:hover{
    background-color: rgb(9, 238, 9);

}
.shortMessage{
    background-color: grey;
    color: red;
    font-size: 18px;
    text-align: center;
    padding: 6px 0;
    display: none;
}

td,
th {
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}
#questionBank {
    display: none;
    background-color: rgba(126, 125, 125,.5);
}
input[type='submit'],button{
    padding: 3px;
    background-color: chocolate;
    border-radius: 5px;
}
#not-found-message{
    color: red;
    font-size: 18px;
    text-align: center;
    background-color: grey;
    display: none;
}