body{
    height:  100vh;
    background-image: url('https://files.virgool.io/upload/users/1129/posts/xnxhamlebgrd/dslhrj8vouz0.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.parent{
    display: flex;
}
a{
    padding: 15px;
    background-color: rgb(214, 191, 191);
    text-decoration: none;
    color: black;
    border-radius: 5px;
    font-size: 17px;
}
div{
    margin: 5px;
    margin-top:15px ;

}
a:hover{
    background-color: rgb(175, 129, 218);
}
