html,body { height: 100%; }

body{
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: #f5f5f5;
    background-image: url('https://cdn.mos.cms.futurecdn.net/KMetFQX5UXdhydvbBzUxDA-1200-80.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
}

form{
    padding-top: 10px;
    font-size: 14px;
    margin-top: 30px;
}

.card-title{ font-weight:300; }

.btn{
    font-size: 14px;
    margin-top:20px;
}

.login-form{
    width:320px;
    margin:20px;
}
span{
    font-size:14px;
}
label{
    font-size: 12px;
    color: #a1b7d1

}
.myParrent{
    background-color: rgba(8, 8, 8,.7);

}
.samePasswordError{
    display: none;

}